<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuRelease</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="Anything" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="Anything" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="2.0.0.568" Mode="Float" />
    <Dependency Name="FubuCore" Version="1.2.0.266" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.0.0.172" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="1.2.0.1661" Mode="Float" />
    <Dependency Name="FubuMVC.Core.Assets" Version="0.9.9.551" Mode="Float" />
    <Dependency Name="FubuMVC.Core.UI" Version="1.0.1.596" Mode="Float" />
    <Dependency Name="FubuMVC.Core.View" Version="1.0.0.571" Mode="Float" />
    <Dependency Name="FubuMVC.Diagnostics" Version="0.9.7.347" Mode="Float" />
    <Dependency Name="FubuMVC.JQueryUI" Version="0.5.0.334" Mode="Float" />
    <Dependency Name="FubuMVC.Katana" Version="1.2.0.1661" Mode="Float" />
    <Dependency Name="FubuMVC.Media" Version="0.9.5.425" Mode="Float" />
    <Dependency Name="FubuMVC.Navigation" Version="0.9.1.200" Mode="Float" />
    <Dependency Name="FubuMVC.OwinHost" Version="1.2.0.1661" Mode="Float" />
    <Dependency Name="FubuMVC.RavenDb" Version="0.9.5.85" Mode="Float" />
    <Dependency Name="FubuMVC.SlickGrid" Version="0.5.0.641" Mode="Float" />
    <Dependency Name="FubuMVC.Spark" Version="1.0.0.571" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="1.2.0.1661" Mode="Float" />
    <Dependency Name="FubuMVC.TestingHarness" Version="1.2.0.1661" Mode="Float" />
    <Dependency Name="FubuMVC.TwitterBootstrap" Version="0.0.0.636" Mode="Float" />
    <Dependency Name="FubuPersistence" Version="0.9.5.85" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="1.2.0.266" Mode="Float" />
    <Dependency Name="HtmlTags" Version="2.0.0.180" Mode="Float" />
    <Dependency Name="Microsoft.AspNet.WebApi.Client" Version="4.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.WebApi.Core" Version="4.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.WebApi.SelfHost" Version="4.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.CompilerServices.AsyncTargetingPack" Version="1.0.1.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Net.Http" Version="2.0.20710.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Web.Infrastructure" Version="1.0.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="2.0.2.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="4.5.9" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.5.10.11092" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="Owin.Extensions" Version="0.6.4" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.5.2666.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Database" Version="2.5.2666.0" Mode="Fixed" />
    <Dependency Name="RavenDB.Embedded" Version="2.5.2666.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.3" Mode="Float" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.6.0.0" Mode="Fixed" />
    <Dependency Name="WebActivator" Version="1.5" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="3.0.0.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>